<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="static/content/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/content/favicon.ico" type="image/x-icon">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/content/styles.css">
        <title>Comments</title>
        <script type="text/javascript" src="static/scripts/ajax.js"></script>
        <script type="text/javascript" src="static/scripts/use_ajax.js"></script>
        <script type="text/javascript" src="static/scripts/screen_info.js"></script>
    </head>
    <body>
        <div class="main">
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <ul class="nav navbar-nav">
                          <li><a href="base">Home</a></li>
                          <li><a href="news">News</a></li>
                          <li><a href="contact">Contact</a></li>
                          <li><a href="gallery">Gallery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="left">
                    <form class="form-horizontal" method="post" id="form">
                        <div class="form-group">
                            <div class="col-lg-5">
                                <label for="nickname">Nickname</label>
                                <input class="form-control" id="nickname" type="text" name="nickname" placeholder="Anonymous">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-5">
                                <label for="text_area">Input text here</label>
                                <textarea class="form-control" id="text_area" name="text_area" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="ref_button">Send feedback.</button>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="right">
                        <div class="data-container">
                            <div>
                                Visited today: {{ visit_info.today_total }}<br>
                                Unique visitors today: {{ visit_info.unique_today }}<br>
                                Total visitors: {{ visit_info.total }}<br>
                                Total unique visitors: {{ visit_info.unique_total }}<br>
                                <div>
                                    <br>
                                    Your last visit: {{
                                    last_time.strftime("%Y-%m-%d %H:%M:%S") if
                                    last_time else "It is your first visit. Feel
                                    sorry." }}<br>
                                    Your resolution is: {{ resolution }}<br>
                                    Your browser is: {{ browser_info }}<br>
                                    <br>
                                    <b>I would become a paranoic.</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            <div class="container">
                {% for feedback_info in data %}
                <div class="feedback-content data-container">
                    <div>{{ feedback_info.sender + " " + feedback_info.date.strftime("%Y-%m-%d %H:%M:%S") }}</div>
                    <div>{{ feedback_info.text|safe }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="text">
                    <a href="comments?from=comments">Оставить комментарий о странице.</a>
                </div>
            </div>
        </div>
    </body>
</html>