<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="static/content/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="static/content/favicon.ico" type="image/x-icon">


	<title>Contacts</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/content/styles.css">

</head>
<body>
	<div class="main">
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<ul class="nav navbar-nav">
				  <li><a href="base">Home</a></li>
				  <li><a href="news">News</a></li>
				  <li><a href="contact">Contact</a></li>
				  <li><a href="gallery">Gallery</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="text">
				<a href="mailto:YouWontGetIt@list.ru">Моя почта</a><br>
				Номер телефона: 8 800 555 35 35<br>
				<a href="https://github.com/PaulWasTaken/"> <img src="https://cdn.tutsplus.com/net/uploads/2013/08/github-collab-retina-preview.gif" class="minimized" alt="Git Ico"></a>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="text">
				<a href="comments?from=contact">Оставить комментарий к странице
					.</a>
			</div>
		</div>
	</div>
</body>
</html>