<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="static/content/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="static/content/favicon.ico" type="image/x-icon">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/content/styles.css">

	    <title>Gallery</title>
	    <script type="text/javascript" src="static/scripts/scripts.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
	        <div class="container">
	            <ul class="nav navbar-nav">
					<li><a href="base">Home</a></li>
					<li><a href="news">News</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="gallery">Gallery</a></li>
	            </ul>
	        </div>
	    </div>
	    <div class="container">
		    <h1>Gallery</h1>
			    <table>
			        <tr>
			            <td class="text">Лягуха</td>
			            <td>
			            	<img src="https://pp.userapi.com/c824200/v824200235/15c49/i1p3v8fIyd4.jpg" id='1' class="minimized" onclick="maximize(this)" alt="">
			            </td>
			            <td class="text">Мемчик</td>
		            	<td>
		            		<img src="https://pp.userapi.com/c841426/v841426518/8ec/5acP4iC6kas.jpg" id='2' class="minimized" onclick="maximize(this)" alt="">
			            </td>
			            <td class="text">Лягуха</td>
			            <td>
			            	<img src="https://pp.userapi.com/c824200/v824200235/15c49/i1p3v8fIyd4.jpg" id='3' class="minimized" onclick="maximize(this)" alt="">
			            </td>
			        </tr>
			        <tr>
			            <td class="text">Мемчик</td>
		            	<td>
		            		<img src="https://pp.userapi.com/c841426/v841426518/8ec/5acP4iC6kas.jpg" id='4' class="minimized" onclick="maximize(this)" alt="">
			            </td>
			            <td class="text">Лягуха</td>
			            <td>
			            	<img src="https://pp.userapi.com/c824200/v824200235/15c49/i1p3v8fIyd4.jpg" id='5' class="minimized" onclick="maximize(this)" alt="">
			            </td>
			            <td class="text">Мемчик</td>
		            	<td>
		            		<img src="https://pp.userapi.com/c841426/v841426518/8ec/5acP4iC6kas.jpg" id='6' class="minimized" onclick="maximize(this)" alt="">
			            </td>
			        </tr>
			    </table>
	    </div>
	</body>
</html>