<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="static/content/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="static/content/favicon.ico" type="image/x-icon">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/content/styles.css">
	<link rel="stylesheet" href="static/content/media_styles_news.css">

	<title>News</title>
</head>
<body>
	<div class="main">
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<ul class="nav navbar-nav">
				  <li><a href="base">Home</a></li>
				  <li><a href="news">News</a></li>
				  <li><a href="contact">Contact</a></li>
				  <li><a href="gallery">Gallery</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="text">
				<a href="https://news.google.com/news/headlines?gl=US&ned=us&hl=en">Таки новости</a>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="text">
				<a href="comments?from=news">Оставить комментарий к странице
					.</a>
			</div>
		</div>
	</div>
</body>
</html>
